#content{
  margin: 0 auto;
  padding: 2.5em;
  width: 60em;
  max-width: 80vw;
  @include shadow();
  background-color: white;
  font-weight: $font-bold;
  div{
    height: 100em;
  }
  a{
      text-decoration: none;
      color: black;
  }
}
