#header{
  height: 50vh;
  margin: 0;
  padding-top: 20vh;
  .title{
      background-color: $dark_primary_color;
      width: 50em;
      max-width: 100vw;
      margin: 0 auto;
      padding: 2em;
      color: $text_color;
      font-weight: $font-bold;
      @include shadow();
  }
  .title-name{
    margin: 0;
    margin-bottom: 2em;
    text-align: center;
    font-size: 2.5em;
  }
  .title-profile{
    margin: 0 auto;
    height: 10em;
    width: 10em;
    background-image: url(profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include shadow();
    @include round-border();
  }
  .title-desc{
    margin: 0;
    margin-top: 2.5em;
    text-align: center;
    font-size: 1.5em;
    color: $text_color;
    font-weight: $font-bold;
  }
}
