#social-media{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
// Credit for Icons to https://www.iconfinder.com/tahsintahil
#facebook-icon{
  @include social-media-icon('Facebook');
}
#instagram-icon{
  @include social-media-icon('Instagram');
}
#twitter-icon{
  @include social-media-icon('Twitter');
}
#github-icon{
  @include social-media-icon('Github');
}
#gitlab-icon{
    @include social-media-icon('Gitlab');
}
