@import "variables";
@import "mixins";
@import "partials/header.scss";
@import "partials/content.scss";
@import "partials/footer.scss";
@import "partials/social-media.scss";
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);

body{
  padding: 0;
  margin: 0;
  font-family: $font-family;
  background-color: $light_primary_color;
/*
  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  background-attachment: fixed;
  background-origin: border-box;
*/
}
