@mixin shadow() {
  box-shadow: 0px 7px 15px 5px rgba(79,79,79,0.7);
}
@mixin round-border {
  border-color: $accent_color;
  border-width: .5em;
  border-radius: 100%;
  border-style: solid;
}
@mixin social-media-icon($media) {
  background-image: url($media + '.svg');
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 4em;
  width: 4em;
  margin: 0 3em;
  border-radius: 100%;
  @include shadow();
  @include round-border();
}
