// Colors
$dark_primary_color: #0097a7;
$primary_color: #00bcd4;
$light_primary_color: #b2ebf2;
$text_color: #FFFFFF;
$accent_color: #ff5252;
$primary_text_color: #212121;
$secondary_text_color: #727272;
$divider_color: #B6B6B6;

// fonts
$font-family: 'Dosis', sans-serif;
$font-bold: 600;
$font-medium: 400;
