doctype html
html(lang="de" dir="ltr")
  block head
    include partials/head.jade

  body
    block header
      include partials/header.jade
    block social-media
      include partials/social-media.jade
    block content
      include partials/content.jade
    block footer
      include partials/footer.jade
    script(src="main.js")
